<!DOCTYPE html>
<html>
<head>
	<title>Biletin Kesildi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		body {
			background-color: #323338;
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}


		.container {
            
			max-width: 600px;
			margin: 0 auto;
			padding: 20px;
			background-color: #fff;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}

		h1 {
			text-align: center;
			margin-bottom: 20px;
			color: darkred;
		}

		.message {
			margin-top: 20px;
			font-size: 24px;
			text-align: center;
			color: #333;
		}
	</style>
</head>
<body>
	<div style="margin-top: 20%" class="container">
		<h1>Haddini aşmışsın</h1>
		<div class="message">
			<p>Eğer bu mesajı görüyorsan Cahit Sıtkı'ya göre ölmüş olman gerekiyordu.</p>
			<p>Yapman gerekeni biliyorsun xddd.</p>
		</div>
	</div>

    <div style="margin-top: 30px" class="container">
        <img style="width:100%" src="https://a.pinatafarm.com/800x450/6cbaee6482/death-knocking-at-the-door.jpg">
	</div>
</body>
</html>